.container {
  width: 100%;
  max-width: 750px;
  box-sizing: border-box;
  display: flex;
  padding: 0 1.5rem 0;
}

.main-info {
  width: 100%;
  box-sizing: border-box;
  padding: 1.5rem 1.2rem;
  gap: 0.5rem;
  background-color: var(--secondary);
  border-radius: 0.95rem;
  -webkit-box-shadow: var(--shadow);
  box-shadow: var(--shadow);
}

/* = Top Main Info Section w/ Profile Pic and Names = */
.profile-container {
  width: 100%;
  display: flex;
  gap: 1rem;
}

.profile-pic {
  width: 70px;
  height: auto;
  background-color: gray;
  border-radius: 50%;
}

/* = Paragraph Descriptions = */
.description {
  margin: 2em 0;
  color: var(--text2);
  font-size: clamp(12px, 3.4vw, 13px);
  line-height: 25px;
}

@media only screen and (min-width: 768px) {
  .main-info {
    padding: 3rem 2.5rem;
  }

  .profile-container {
    gap: 3rem;
  }

  .profile-pic {
    width: 117px;
  }
}
