.container {
  width: 100%;
  max-width: 750px;
  box-sizing: border-box;
  display: flex;
  padding: 1rem 1.5rem 1.5rem;
}

.main-info {
  width: 100%;
  box-sizing: border-box;
  padding: 1.5rem 1.2rem;
  gap: 0.5rem;
  background-color: var(--white);
  border-radius: 0.95rem;
  -webkit-box-shadow: 0px 16px 30px -10px rgba(70, 96, 187, 0.19);
  box-shadow: 0px 16px 30px -10px rgba(70, 96, 187, 0.19);
}

/* = Top Main Info Section w/ Profile Pic and Names = */
.profile-container {
  width: 100%;
  display: flex;
  gap: 1rem;
}

.profile-pic {
  width: 70px;
  height: 70px;
  background-color: gray;
  border-radius: 50%;
}

.user-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.user-container p {
  margin: 0 0 0.2em;
}

.name {
  color: var(--text1);
  font-weight: 700;
  font-size: clamp(15px, 4.3vw, 16px);
}

.handle {
  color: var(--main);
  font-size: clamp(12px, 3.4vw, 13px);
}

.date-joined {
  color: var(--text3);
  font-size: clamp(12px, 3.4vw, 13px);
}

/* = Paragraph Descriptions = */
.description {
  margin: 2em 0;
  min-height: 75px;
  color: var(--text2);
  font-size: clamp(12px, 3.4vw, 13px);
  line-height: 25px;
}

/* = User Repo count, Followers, and Following = */
.about-container {
  width: 100%;
  box-sizing: border-box;
  padding: 1.4rem 0;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: var(--background);
  border-radius: 0.6rem;
}

.about-type {
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.about-type p {
  margin: 0;
}

.about-title {
  font-size: clamp(10px, 3vw, 11px);
  color: var(--text2);
}

.about-amount {
  color: var(--text1);
  font-weight: 700;
  font-size: clamp(15px, 4.3vw, 16px);
}

/* = Social Links and Additional User Info = */
.social-container {
  width: 100%;
  padding: 1.5rem 0 0;
  display: flex;
  flex-direction: column;
}

.social-type {
  width: 100%;
  margin-bottom: 0.6rem;
  box-sizing: border-box;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 0.5rem;
}

.icon-container {
  width: 10%;
}

.type {
  margin: 0;
  font-size: clamp(12px, 3.4vw, 13px);
  color: var(--text2);
}

.unavailable {
  color: var(--inactive);
}
