.navbar {
  width: 100%;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem;
}

.navbar h1 {
  margin: 0;
  font-family: var(--font);
  font-weight: 700;
  font-size: clamp(24px, 7.2vw, 26px);
  color: var(--text1);
}

.theme-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.6rem;
  color: var(--text2);
  cursor: pointer;
}

.title {
  margin: 0;
  font-family: var(--font);
  font-weight: 700;
  font-size: clamp(11px, 3.5vw, 13px);
  color: inherit;
  text-transform: uppercase;
  letter-spacing: 2.5px;
}

@media only screen and (min-width: 1200px) {
  .navbar {
    padding: 1.5rem 1.5rem 0;
  }

  .theme-container:hover {
    transition: color 0.25s ease-in-out;
    color: var(--hover);
  }
}
