.container {
  width: 100%;
  max-width: 750px;
  box-sizing: border-box;
  display: flex;
  padding: 1rem 1.5rem 1.5rem;
}

.search-bar {
  width: 100%;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.5rem;
  background-color: var(--secondary);
  border-radius: 0.95rem;
  -webkit-box-shadow: var(--shadow);
  box-shadow: var(--shadow);
}

.icon {
  margin-left: 1em;
  font-size: clamp(13px, 3.6vw, 114px);
}

.input-container {
  width: 100%;
  position: relative;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
}

.input {
  width: 100%;
  background-color: var(--secondary);
  font-family: var(--font);
  font-size: clamp(12px, 3.4vw, 13px);
  border: none;
  outline: none;
  line-height: 25px;
  color: var(--text2);
  caret-color: var(--main);
}

.error {
  position: absolute;
  margin: 0;
  font-size: clamp(12px, 3.4vw, 13px);
  top: -40%;
  color: hsl(0, 91%, 62%);
  font-weight: 700;
}

.input::placeholder {
  font-weight: 400;
  color: var(--text2);
  opacity: 1;
}

.input:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: var(--text2);
}

.input::-ms-input-placeholder {
  /* Microsoft Edge */
  color: var(--text2);
}

.btn {
  padding: 1em 1.2em;
  margin: 0.6em 0.6em 0.6em 0;
  background-color: var(--main);
  color: var(--white);
  font-family: var(--font);
  font-size: clamp(13px, 3.6vw, 14px);
  font-weight: 700;
  border: none;
  border-radius: 0.6rem;
}

.btn:active {
  background-color: var(--active);
}

@media only screen and (min-width: 768px) {
  .search-bar {
    gap: 1.2rem;
  }
  .input,
  .error {
    font-size: 18px;
  }

  .error {
    top: -70%;
  }

  .btn {
    font-size: 16px;
  }
}
